# Calculando o risco de ações de empresas do setor bancário

### Empresas analisadas : Bradesco, Itaú, Santander e BTG Pactual

### Importando Bibliotecas

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

### Criando um DataFrame para carregar dados das cotações

In [2]:
tickers = ['BBDC4.SA', 'BPAC11.SA','SANB11.SA', 'ITSA4.SA']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2017-06-30', end='2021-06-30')['Adj Close']

### Verificando os dados iniciais da série

In [3]:
data.head(15)

             BBDC4.SA  BPAC11.SA  SANB11.SA  ITSA4.SA
Date
2017-06-30  16.085470   3.037287  19.949064  6.552326
2017-07-03  16.213388   3.037287  20.371983  6.552326
2017-07-04  16.234823   3.152893  20.300169  6.545062
2017-07-05  16.240576   3.289518  20.364004  6.610440
2017-07-06  16.004694   3.211911  20.036837  6.523269
2017-07-07  16.021961   3.231697  20.260267  6.516004
2017-07-10  16.200308   3.231697  20.467739  6.574119
2017-07-11  16.482185   3.231697  20.890661  6.668555
2017-07-12  16.919422   3.359206  21.457209  6.683083
2017-07-13  17.068995   3.359206  21.457209  6.704877
2017-07-14  17.086264   3.359206  21.313578  6.690349
2017-07-17  16.971193   3.363604  21.305599  6.668555
2017-07-18  17.184050   3.495509  21.513071  6.726667
2017-07-19  16.971193   3.429557  20.786926  6.668555
2017-07-20  16.913664   3.418564  20.747025  6.697611

### calculo dos retornos logaritmicos

In [4]:
Sec_returns = np.log(data / data.shift(1))

In [5]:
Sec_returns

            BBDC4.SA  BPAC11.SA  SANB11.SA  ITSA4.SA
Date
2017-06-30       NaN        NaN        NaN       NaN
2017-07-03  0.007921   0.000000   0.020978  0.000000
2017-07-04  0.001321   0.037356  -0.003531 -0.001109
2017-07-05  0.000354   0.042421   0.003140  0.009939
2017-07-06 -0.014631  -0.023875  -0.016196 -0.013275
...              ...        ...        ...       ...
2021-06-24  0.007369  -0.006705  -0.002086  0.003407
2021-06-25 -0.031701  -0.017849  -0.023475 -0.024098
2021-06-28 -0.004938   0.030723  -0.009547 -0.010508
2021-06-29 -0.006111   0.006049  -0.008912 -0.005296
2021-06-30 -0.014278  -0.005230  -0.020287 -0.013363

[991 rows x 4 columns]

# Bradesco

### Média dos retornos

In [6]:
Sec_returns['BBDC4.SA'].mean()

0.0004517851673312599

### Média dos retornos anualizados

In [29]:
Sec_returns['BBDC4.SA'].mean() * 250

0.11294629183281497

### Desvio padrão dos retornos

In [8]:
Sec_returns['BBDC4.SA'].std()

0.02419679209752819

### Desvio padrão dos retornos anualizados

In [9]:
Sec_returns['BBDC4.SA'].std()*250**0.5

0.38258487548876086

# Itau

In [10]:
Sec_returns['ITSA4.SA'].mean()*250

0.13424732436007858

In [11]:
Sec_returns['ITSA4.SA'].std()

0.02045244245405131

In [12]:
Sec_returns['ITSA4.SA'].std()*250**0.5

0.323381509341629

# Santander

In [13]:
Sec_returns['SANB11.SA'].mean()*250

0.17305399592692047

In [14]:
Sec_returns['SANB11.SA'].std()

0.024225357778822013

In [15]:
Sec_returns['SANB11.SA'].std()*250**0.5

0.3830365385677756

# BTG Pactual

In [16]:
Sec_returns['BPAC11.SA'].mean()*250

0.5826398538580888

In [17]:
Sec_returns['BPAC11.SA'].std()

0.031967273341258526

In [18]:
Sec_returns['BPAC11.SA'].std()*250**0.5

0.5054469717177901

### Transformando numeros decimais do risco em valores percentuais

In [27]:
Bradesco_risk =  str(round(Sec_returns['BBDC4.SA'].std()*250**0.5, 4) * 100) +'%'
Itau_risck =  str(round(Sec_returns['ITSA4.SA'].std()*250**0.5,4) * 100) +'%'
Santander_risck = str(round(Sec_returns['SANB11.SA'].std()*250**0.5,4) * 100) +'%'
BTG_risk =  str(round(Sec_returns['BPAC11.SA'].std()*250**0.5,4) * 100) +'%'

In [28]:
print('Bradesco_risk = ' , Bradesco_risk)
print ('Itau_risck = ' , Itau_risck)
print('Santander_risck = ' , Santander_risck)
print ('BTG_risk = ' , BTG_risk)

Bradesco_risk =  38.26%
Itau_risck =  32.34%
Santander_risck =  38.3%
BTG_risk =  50.54%

### O ativo com maior volatidade são as ações do BTG.